<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <!-- Toolbar 1 - search functionality -->
    <div class="toolbar">
        <div class="search-container">
            <input type="text" id="searchBar" placeholder="Search elements...">
            <select id="tagComboBox">
                <option value="title">Title</option>
                <option value="reward">Reward</option>
                <option value="solution">Solution</option>
            </select>
            <!-- Filter checkbox -->
            <input type="checkbox" id="filter-completed" onchange="filterCompleted()">Filter completed
        </div>
    </div>

    <!-- Toolbar 2 - counter -->
    <div class="toolbar">
        <button id="toggle-view-btn">Toggle Grid/List View</button>
        <div id="counterLabel">Displaying {{ all_elements|length }} elements</div>
    </div>

    <!-- Toolbar 3 - category filter -->
    <div class="toolbar">
        <div id="categoryFilterContainer">
            <button class="category-filter-button" data-category="">All</button>
            {% for category in categories %}
                <button class="category-filter-button" data-category="{{ category.value }}">{{ category.value }}</button>
            {% endfor %}
        </div>
    </div>
<!-- Central widget -->
<div id="centralWidget">
    <div class="grid-container">
{% for element in all_elements %}
    <div class="element" id="element-{{ loop.index }}" style="background-color: {{ element.category.background_color }};
                        color: {{ element.category.get_text_color() }};
                        border-radius: 5px; padding: 10px; margin-bottom: 10px;">
        <div class="element-header" style="display: flex; justify-content: space-between; align-items: center;">
          {% if element.title.value != "Title" %}
            <div>
                <input type="checkbox" class="done-checkbox" data-element-title="{{ element.title }}" data-element-category="{{ element.category.value }}" {% if element.done %}checked{% endif %}>
                <span style="margin-left: 10px;">Done</span>
            </div>
            <!-- Condition to exclude blank element -->
            <button class="remove-button" data-element-title="{{ element.title }}" data-element-category="{{ element.category.value }}">X</button>
          {% endif %}
        </div>

      
        <div class="element-attributes">
    {% for attribute in element.get_displayable_attributes() %}
    {% set attr = element.__getattribute__(attribute) %}
    <div class="attribute attribute-{{ attribute }} {% if element.is_editable and attribute == 'title' %}title-input{% endif %}"
         style="font-size: {{ attr.font_size }}px;
            font-style: {{ attr.font_style }};
            font-family: {{ attr.font }};
            background-color: {{ attr.background_color }};
            text-align: {{ attr.alignment }};
            word-wrap: break-word;
            padding: 5px; margin: 5px 0;">

        {% if element.is_editable %}
            <input type="text" class="attribute-input" placeholder="{{ attr.value }}" data-attribute-name="{{ attribute }}">
        {% else %}
            {{ attr.value }}
        {% endif %}
    </div>
{% endfor %}

          {% if  element.is_editable %}
    <input type="text" class="attribute-input category-input" id="first-category-input" placeholder="Category" data-attribute-name="category">
{% endif %}

</div>
    </div>
{% endfor %}
    </div>
</div>

</body>
</html>
               
